# The "Name <email>" on the left is the desired name and email
Gagandeep Singh <gdp.1807@gmail.com> czgdp1807 <gdp.1807@gmail.com>
Dominic Poerio <dompoerio@gmail.com> dvp <dompoerio@gmail.com>
Himanshu Pandey <himanshu7pandey7@gmail.com> hp77 <himanshu7pandey7@gmail.com>
Himanshu Pandey <himanshu7pandey7@gmail.com> hp77 <u19ee064@eed.svnit.ac.in>
Thirumalai Shaktivel <thirumalaishaktivel@gmail.com> Thirumalai-Shaktivel <thirumalaishaktivel@gmail.com>
Andrew Best <andrew@blamsoft.com> Andrew <andrew@blamsoft.com>
Mengjia Lyu <mengjia.swe@gmail.com> mengjia.lyu <mengjia.swe@gmail.com>
Ondřej Čertík <ondrej@certik.us> Ondrej Certik <ondrej@certik.us>
Ubaid Shaikh <shaikhubaid769@gmail.com> Shaikh Ubaid <shaikhubaid769@gmail.com>
Ubaid Shaikh <shaikhubaid769@gmail.com> Ubaid <shaikhubaid769@gmail.com>
Smit Lunagariya <smitlunagariya.mat18@itbhu.ac.in> Smit-create <smitlunagariya.mat18@itbhu.ac.in>
Zihua Wu <wuzihua@pku.edu.cn> Gabriel Wu <wuzihua@pku.edu.cn>
Pranav Goswami <goswami.4@iitj.ac.in> Pranav <85227306+Pranavchiku@users.noreply.github.com>
Pranav Goswami <goswami.4@iitj.ac.in> Pranavchiku <goswami.4@iitj.ac.in>
Giannis Nikiteas <giannis.nikiteas@gmail.com> gnikit <giannis.nikiteas@gmail.com>
Oshanath Rajawasam <oshanath.19@cse.mrt.ac.lk> oshanath <oshanath.19@cse.mrt.ac.lk>
Emilio Gonzalez <emilio.castro.gonzalez@gmail.com> Emilio <emilio.castro.gonzalez@gmail.com>
左志华 (Zuo Zhihua) <zuo.zhihua@qq.com> zoziha <zuo.zhihua@qq.com>
左志华 (Zuo Zhihua) <zuo.zhihua@qq.com> 左志华 <zuo.zhihua@qq.com>
Akarshit Verma <verma.19@iitj.ac.in> akarshitkverma <verma.19@iitj.ac.in>
meow464 <meow464@protonmail.com> meow464 <70211708+meow464@users.noreply.github.com>
