# The "Name <email>" on the left is the desired name and email
Gagandeep Singh <gdp.1807@gmail.com> czgdp1807 <gdp.1807@gmail.com>
Gagandeep Singh <gdp.1807@gmail.com> ਗਗਨਦੀਪ ਸਿੰਘ (Gagandeep Singh) <gdp.1807@gmail.com>
Gagandeep Singh <gdp.1807@gmail.com> ਗਗਨਦੀਪ ਸਿੰਘ <gdp.1807@gmail.com>
Dominic Poerio <dompoerio@gmail.com> dvp <dompoerio@gmail.com>
Dominic Poerio <dompoerio@gmail.com> Dominic Poerio <dominic@poer.io>
Himanshu Pandey <himanshu7pandey7@gmail.com> hp77 <himanshu7pandey7@gmail.com>
Himanshu Pandey <himanshu7pandey7@gmail.com> hp77 <u19ee064@eed.svnit.ac.in>
Thirumalai Shaktivel <thirumalaishaktivel@gmail.com> Thirumalai-Shaktivel <thirumalaishaktivel@gmail.com>
Thirumalai Shaktivel <thirumalaishaktivel@gmail.com> Thirumalai Shaktivel <thirumalaiShaktivel@gmail.com>
Thirumalai Shaktivel <thirumalaishaktivel@gmail.com> Thirumalai Shaktivel <74826228+Thirumalai-Shaktivel@users.noreply.github.com>
Andrew Best <andrew@blamsoft.com> Andrew <andrew@blamsoft.com>
Mengjia Lyu <mengjia.swe@gmail.com> mengjia.lyu <mengjia.swe@gmail.com>
Ondřej Čertík <ondrej@certik.us> Ondrej Certik <ondrej@certik.us>
Ondřej Čertík <ondrej@certik.us> Ondrej Certik <ondrejcertik@microsoft.com>
Ubaid Shaikh <shaikhubaid769@gmail.com> Shaikh Ubaid <shaikhubaid769@gmail.com>
Ubaid Shaikh <shaikhubaid769@gmail.com> Ubaid <shaikhubaid769@gmail.com>
Smit Lunagariya <smitlunagariya.mat18@itbhu.ac.in> Smit-create <smitlunagariya.mat18@itbhu.ac.in>
Zihua Wu <wuzihua@pku.edu.cn> Gabriel Wu <wuzihua@pku.edu.cn>
Zihua Wu <wuzihua@pku.edu.cn> Zihua Wu <qqbbnease1004@126.com>
Pranav Goswami <goswami.4@iitj.ac.in> Pranav <85227306+Pranavchiku@users.noreply.github.com>
Pranav Goswami <goswami.4@iitj.ac.in> Pranavchiku <goswami.4@iitj.ac.in>
Pranav Goswami <goswami.4@iitj.ac.in> pranavchiku <pranavchiku11@gmail.com>
Pranav Goswami <goswami.4@iitj.ac.in> Co-authored-by: Pranav Goswami <goswami.4@iitj.ac.in>
Giannis Nikiteas <giannis.nikiteas@gmail.com> gnikit <giannis.nikiteas@gmail.com>
Oshanath Rajawasam <oshanath.19@cse.mrt.ac.lk> oshanath <oshanath.19@cse.mrt.ac.lk>
Emilio Gonzalez <emilio.castro.gonzalez@gmail.com> Emilio <emilio.castro.gonzalez@gmail.com>
左志华 (Zuo Zhihua) <zuo.zhihua@qq.com> zoziha <zuo.zhihua@qq.com>
左志华 (Zuo Zhihua) <zuo.zhihua@qq.com> 左志华 <zuo.zhihua@qq.com>
Akarshit Verma <verma.19@iitj.ac.in> akarshitkverma <verma.19@iitj.ac.in>
meow464 <meow464@protonmail.com> meow464 <70211708+meow464@users.noreply.github.com>
Luthfan Anshar Lubis <luthfanlubis@gmail.com> Lubis <luthfanlubis@gmail.com>
Julian Hofer <julianhofer@gnome.org> Hofer-Julian <julianhofer@gnome.org>
Julian Hofer <julianhofer@gnome.org> Hofer-Julian <30049909+Hofer-Julian@users.noreply.github.com>
Rohit Goswami <rog32@hi.is> Rohit Goswami <rgoswami@ieee.org>
Rohit Goswami <rog32@hi.is> Rohit Goswami <308505-HaoZeke@users.noreply.gitlab.com>
Konrad Handrick <konradha@yahoo.com> Konrad Handrick <konrrrad@googlemail.com>
Harshita Kalani <kalani.1@iitj.ac.in> HarshitaKalani <kalani.1@iitj.ac.in>
Harshita Kalani <kalani.1@iitj.ac.in> Harshita Kalani <95532771+HarshitaKalani@users.noreply.github.com>
Harris M. Snyder <harris.snyder@gmail.com> Harris Snyder <hsnyder@gmail.com>
Jacob Marks <bughunterstudios@gmail.com> Jacob Marks <jacob.marks@student.nmt.edu>
Sebastian Ehlert <awvwgk@gmail.com> Sebastian Ehlert <2684096-awvwgk@users.noreply.gitlab.com>
Sebastian Ehlert <awvwgk@gmail.com> Sebastian Ehlert <28669218+awvwgk@users.noreply.github.com>
Aarush Bhat <aarush.bhatt@gmail.com> sloorush <aarush.bhatt@gmail.com>
Benson Muite <benson_muite@emailplus.org> Benson Muite <bkmgit@users.noreply.github.com>
Felix Wang <topazus@outlook.com> topazus <topazus@outlook.com>
Felix Wang <topazus@outlook.com> Felix <77263945+topazus@users.noreply.github.com>
Sarthak Gupta <sarthakgpt95@gmail.com> gptsarthak <sarthakgpt95@gmail.com>
John Shimanek <42622333+shimanek@users.noreply.github.com> shimanek <42622333+shimanek@users.noreply.github.com>
Brian Beckman <rebcabin@users.noreply.github.com> rebcabin <rebcabin@users.noreply.github.com>
Carl Burkert <carl.burkert@posteo.de> Carl <carl.burkert@posteo.de>
Sergey Fedorov <vital.had@gmail.com> barracuda156 <vital.had@gmail.com>
Jinang Shah <jinang2110@gmail.com> Jinang Shah <165902846+jinangshah21@users.noreply.github.com>
Jinang Shah <jinang2110@gmail.com> jinangshah21 <jinang2110@gmail.com>
Harshil Shah <hkshah1978@gmail.com> HarshilShah1804 <hkshah1978@gmail.com>
Assem Medhat <assem2002@gmail.com> Assem <assem2002@gmail.com>
Ansh Mehta <ansh.mehta522007@gmail.com> AnshMehta1 <ansh.mehta522007@gmail.com>
Akram Hany <akramhany65@gmail.com> Akram Hany <109467185+akramhany@users.noreply.github.com>
Akram Hany <akramhany65@gmail.com> akramhany <akramhany65@gmail.com>
Swaminath Shiju <swaminathshiju24@gmail.com> swamishiju <swaminathshiju24@gmail.com>
Parth Mistry <parthmistry1211@gmail.com> parth121101 <parthmistry1211@gmail.com>
Parth Mistry <parthmistry1211@gmail.com> parth121101 <96720723+parth121101@users.noreply.github.com>
Atharva Waghmare <atharvawaghmare34@gmail.com> opixdown <atharvawaghmare34@gmail.com>
Atharva Waghmare <atharvawaghmare34@gmail.com> opixdown <102764510+opixdown@users.noreply.github.com>
Yash Nagda <yashnagdasub17@gmail.com> Yash <yashnagdasub17@gmail.com>
Yash Nagda <yashnagdasub17@gmail.com> Yash <yashnagda17@gmail.com>
Yash Nagda <yashnagdasub17@gmail.com> Yash Nagda <79076376+YashNagda17@users.noreply.github.com>
Christopher Albert <albert@alumni.tugraz.at> Christopher Albert <albert@tugraz.at>
Gauravsingh Sisodia <xaerru@gmail.com> Gauravsingh Sisodia <65955464+xaerru@users.noreply.github.com>
Aditya Trivedi <adit4443ya@gmail.com> Aditya Trivedi <120598696+adit4443ya@users.noreply.github.com>
Dylon Edwards <dylon.devo@gmail.com> Dylon Edwards <dylon.devo+github@gmail.com>
Jatin Agarwal <23110147@iitgn.ac.in> Jatinagarwal24 <23110147@iitgn.ac.in>
Jatin Agarwal <23110147@iitgn.ac.in> Jatinagarwal24 <167195254+Jatinagarwal24@users.noreply.github.com>
Jaysukh Makvana <jaysukhmakvana2004@gmail.com> Jaysukh-409 <jaysukhmakvana2004@gmail.com>
Jainam Shah <b24cs1071@iitj.ac.in> Jainam-not-a-robot <b24cs1071@iitj.ac.in>
Jainam Shah <b24cs1071@iitj.ac.in> Shah Jainam Nehal <b24cs1071@iitj.ac.in>
Anas Khan <anas23khan083@gmail.com> Anas <anas23khan083@gmail.com>
Kishan Ved <kishan.ved@iitgn.ac.in> Kishan-Ved <kishan.ved@iitgn.ac.in>
Devesh Acharya <143060274+Th3C0d3Mast3r@users.noreply.github.com> Devesh A <143060274+Th3C0d3Mast3r@users.noreply.github.com>
Rahul Purmani <rahulreddypurmani123@gmail.com> rahulrangers <rahulreddypurmani123@gmail.com>
Rahul Purmani <rahulreddypurmani123@gmail.com> rahulrangers <127782777+rahulrangers@users.noreply.github.com>
Hitesh Ghanchi <hiteshghanchi87@gmail.com> Hitesh <hiteshghanchi87@gmail.com>
Nayan Kute <nayankishorkute21@gmail.com> Nayan-Kute21 <nayankishorkute21@gmail.com>
Nayan Kute <nayankishorkute21@gmail.com> Nayan-Kute21 <154470012+Nayan-Kute21@users.noreply.github.com>
Prasham Vipul Prabhakar <prasham.pillu@gmail.com> Baitato <prasham.pillu@gmail.com>
Prasham Vipul Prabhakar <prasham.pillu@gmail.com> Prasham Vipul Prabhakar <85821070+Baitato@users.noreply.github.com>
Amrita Kumari Mishra <amritamishraxa06@gmail.com> Amrita kumari mishra <amritamishraxa06@gmail.com>
Dileep Gampala <dileepgampala2005@gmail.com> DileepGampala2005 <dileepgampala2005@gmail.com>
Dileep Gampala <dileepgampala2005@gmail.com> Dileep <dileepgampala2005@gmail.com>
Leon Degel Koehn <leon.koehn2002@gmail.com> Leon-Degel-Koehn <leon.koehn2002@gmail.com>
Sarah Fatima <142889410+sarahfatima1205@users.noreply.github.com> sarahfatima1205 <142889410+sarahfatima1205@users.noreply.github.com>
Mohit Dhingra <154071159+mohitdhingra22@users.noreply.github.com> mxyd <154071159+mohitdhingra22@users.noreply.github.com>
Abhro <5664668+abhro@users.noreply.github.com> abhro <5664668+abhro@users.noreply.github.com>
