# The "Name <email>" on the left is the desired name and email
ਗਗਨਦੀਪ ਸਿੰਘ (Gagandeep Singh) <gdp.1807@gmail.com> czgdp1807 <gdp.1807@gmail.com>
ਗਗਨਦੀਪ ਸਿੰਘ (Gagandeep Singh) <gdp.1807@gmail.com> ਗਗਨਦੀਪ ਸਿੰਘ <gdp.1807@gmail.com>
ਗਗਨਦੀਪ ਸਿੰਘ (Gagandeep Singh) <gdp.1807@gmail.com> Gagandeep Singh <gdp.1807@gmail.com>
Dominic Poerio <dompoerio@gmail.com> dvp <dompoerio@gmail.com>
Dominic Poerio <dompoerio@gmail.com> Dominic Poerio <dominic@poer.io>
Himanshu Pandey <himanshu7pandey7@gmail.com> hp77 <himanshu7pandey7@gmail.com>
Himanshu Pandey <himanshu7pandey7@gmail.com> hp77 <u19ee064@eed.svnit.ac.in>
Thirumalai Shaktivel <thirumalaishaktivel@gmail.com> Thirumalai-Shaktivel <thirumalaishaktivel@gmail.com>
Thirumalai Shaktivel <thirumalaishaktivel@gmail.com> Thirumalai Shaktivel <thirumalaiShaktivel@gmail.com>
Thirumalai Shaktivel <thirumalaishaktivel@gmail.com> Thirumalai Shaktivel <74826228+Thirumalai-Shaktivel@users.noreply.github.com>
Andrew Best <andrew@blamsoft.com> Andrew <andrew@blamsoft.com>
Mengjia Lyu <mengjia.swe@gmail.com> mengjia.lyu <mengjia.swe@gmail.com>
Ondřej Čertík <ondrej@certik.us> Ondrej Certik <ondrej@certik.us>
Ubaid Shaikh <shaikhubaid769@gmail.com> Shaikh Ubaid <shaikhubaid769@gmail.com>
Ubaid Shaikh <shaikhubaid769@gmail.com> Ubaid <shaikhubaid769@gmail.com>
Smit Lunagariya <smitlunagariya.mat18@itbhu.ac.in> Smit-create <smitlunagariya.mat18@itbhu.ac.in>
Zihua Wu <wuzihua@pku.edu.cn> Gabriel Wu <wuzihua@pku.edu.cn>
Zihua Wu <wuzihua@pku.edu.cn> Zihua Wu <qqbbnease1004@126.com>
Pranav Goswami <goswami.4@iitj.ac.in> Pranav <85227306+Pranavchiku@users.noreply.github.com>
Pranav Goswami <goswami.4@iitj.ac.in> Pranavchiku <goswami.4@iitj.ac.in>
Pranav Goswami <goswami.4@iitj.ac.in> Co-authored-by: Pranav Goswami <goswami.4@iitj.ac.in>
Giannis Nikiteas <giannis.nikiteas@gmail.com> gnikit <giannis.nikiteas@gmail.com>
Oshanath Rajawasam <oshanath.19@cse.mrt.ac.lk> oshanath <oshanath.19@cse.mrt.ac.lk>
Emilio Gonzalez <emilio.castro.gonzalez@gmail.com> Emilio <emilio.castro.gonzalez@gmail.com>
左志华 (Zuo Zhihua) <zuo.zhihua@qq.com> zoziha <zuo.zhihua@qq.com>
左志华 (Zuo Zhihua) <zuo.zhihua@qq.com> 左志华 <zuo.zhihua@qq.com>
Akarshit Verma <verma.19@iitj.ac.in> akarshitkverma <verma.19@iitj.ac.in>
meow464 <meow464@protonmail.com> meow464 <70211708+meow464@users.noreply.github.com>
Luthfan Anshar Lubis <luthfanlubis@gmail.com> Lubis <luthfanlubis@gmail.com>
Julian Hofer <julianhofer@gnome.org> Hofer-Julian <julianhofer@gnome.org>
Julian Hofer <julianhofer@gnome.org> Hofer-Julian <30049909+Hofer-Julian@users.noreply.github.com>
Rohit Goswami <rog32@hi.is> Rohit Goswami <rgoswami@ieee.org>
Rohit Goswami <rog32@hi.is> Rohit Goswami <308505-HaoZeke@users.noreply.gitlab.com>
Konrad Handrick <konradha@yahoo.com> Konrad Handrick <konrrrad@googlemail.com>
Harshita Kalani <kalani.1@iitj.ac.in> HarshitaKalani <kalani.1@iitj.ac.in>
Harshita Kalani <kalani.1@iitj.ac.in> Harshita Kalani <95532771+HarshitaKalani@users.noreply.github.com>
Harris M. Snyder <harris.snyder@gmail.com> Harris Snyder <hsnyder@gmail.com>
Jacob Marks <bughunterstudios@gmail.com> Jacob Marks <jacob.marks@student.nmt.edu>
Sebastian Ehlert <awvwgk@gmail.com> Sebastian Ehlert <2684096-awvwgk@users.noreply.gitlab.com>
Sebastian Ehlert <awvwgk@gmail.com> Sebastian Ehlert <28669218+awvwgk@users.noreply.github.com>
Aarush Bhat <aarush.bhatt@gmail.com> sloorush <aarush.bhatt@gmail.com>
Benson Muite <benson_muite@emailplus.org> Benson Muite <bkmgit@users.noreply.github.com>
Felix Wang <topazus@outlook.com> topazus <topazus@outlook.com>
Felix Wang <topazus@outlook.com> Felix <77263945+topazus@users.noreply.github.com>
Sarthak Gupta <sarthakgpt95@gmail.com> gptsarthak <sarthakgpt95@gmail.com>
John Shimanek <42622333+shimanek@users.noreply.github.com> shimanek <42622333+shimanek@users.noreply.github.com>
Brian Beckman <rebcabin@users.noreply.github.com> rebcabin <rebcabin@users.noreply.github.com>
Carl Burkert <carl.burkert@posteo.de> Carl <carl.burkert@posteo.de>
Sergey Fedorov <vital.had@gmail.com> barracuda156 <vital.had@gmail.com>
